faiss_cpu==1.8.0
fastapi==0.115.0
huggingface_hub==0.24.7
langchain==0.3.0
langchain_huggingface==0.1.0
numpy
pydantic==2.9.2
PyPDF2==3.0.1
Requests==2.32.3
sentence_transformers==3.1.0
transformers==4.44.2
uvicorn==0.30.6
langchain_community
pymongo
